html, body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-color: #fda3df;
	min-height: 100%;
}
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}
.bg {
	background: rgb(240, 197, 197);
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.index{
	min-width: 360px;
	padding-top: 10px;
	position: relative;
	width: 100%;
	background: #666666;
	border-bottom: 3px solid #d49e9e;
}
header a:hover{
	min-width: 360px;
	color: #191725;
	font-weight: bold;
}
.logo{
	width: auto;
    height: 100px;
    padding-left: 50px;
}
.menu{
	float: right;
	list-style: none;
	padding-top: 30px;
	text-shadow: 5px 5px 7px rgb(238, 174, 252);
}
.menu li{
	display: inline-block;
	float: left;
	background: #bb7bb6; 
}
.menu a{
	text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 60px;
    font-weight: 700;
	padding: 25px 25px;
	color: #181616;
}
ul{
	margin: 0;
	padding: 0;
}
	/* akhir header */
	
	/* section */

	.full .lb {
		min-height: 400px;
		min-width: 360px;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 150px;
		position: relative;
		background: #000000a6 ;
		color: #accce7;
			
}
	.lb h2{
		text-align: center;
		font-size: 28px;
		text-shadow: 2px 2px 5px rgb(31, 28, 28);
	}
	.lb h1{
		line-height: 2;
		text-align: center;
		font-size: 30px;
		text-shadow: 2px 2px 5px rgb(31, 28, 28);
	}
	
	.lb p {
		color:rgb(255, 255, 255);
		font-size: 25px;
		line-height: 1.5;
		text-align: center;
		padding-top: 30px;
		padding-left: 130px;
		padding-right: 100px;
		position: relative;
		
	}	
	/* section */

	/* footer */
	footer{
		border-top: 3px solid #272525;
		text-align: center;
		font-size: 16px;
		line-height: 1;
		color: aliceblue;
		background-color: #666666;
		padding-bottom: 10px;
	}
	
.fb{
	width:43px ;
	height: 35px;
}
.tw{
	width:43px ;
	height: 38px;
}
.yt{
	width:43px ;
	height: 35px;
}
.ig{
	width:43px ;
	height: 35px;
}
	/* akhir footer */

/* akhir index */
/* GALERI */

.isi_galeri{
		min-width: 360px;
		padding-top: 100px;
		padding-bottom: 50px;
		text-align: center;
		position: relative;
		border-top: 11px solid #df8aa0;
		background-color: #ceb7b799;
		height: 1500px;
		width: auto;
}
.isi_galeri h1{
	padding-top: 0px;
	color: aliceblue;
	padding-bottom: 50px;
	font-size: 30px;

}
.gambar{
	margin: 5px 50px 5px 50px;
    padding: 30px 30px 10px 30px;
    border: 1px solid rgb(56, 97, 38);
    float: left;
    height: 280px;
}
.gambar:hover {
    float: left;
    border: 1px solid rgb(56, 97, 38);
    box-shadow: 0px 20px 20px 0px #ffe70f;
    height: 280px;    
  }
.isi_galeri img{
	width: 250px;
	margin: 5px;
	border:10px;
   border-style: solid;
   border-color: rgb(231, 218, 218);
   padding: 2px;
   background: rgb(15, 15, 15);
	}


/* TUUTUP GALERI */

/* kontak.html */
.contact-section {
	min-height: 400px;
	min-width: 360px;
	color: rgb(119, 119, 230);
	padding: 0px 500px;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 150px;
	position: relative;
	background: rgba(0, 0, 0, 0.65) ;
	color: aliceblue;
	}


	/* akhir kontak.html */

/* ABOUT */

table {
	margin: auto;
	color: #232323;
	border-collapse: collapse;
	width: 100%;
}

table th {
	border: 1px solid #999;
	padding: 8px 20px;
	background: #bb7bb6 ;
	color: #000000;
	font-weight: bold;
}

table td:first-child {
	text-align: center;
	padding-left: 20px;
}

table td {
	border-bottom: 1px solid #999;
	padding: 8px 20px;
	text-align: center;
	background: #f8faef;
}

.private-data-section {
	position: relative;
}

.private-data-container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 33px 100px;
}

.private-data-wrap {
	width: 100%;
}

.private-data-table {
	z-index: 1000;
	text-align: center;
	color: #c071b9;
}

.private-data-table h2 {
	text-align: center;
}
  
  

